Does not manage connections correctly

As far as I can tell, Emails never closes SMTP connections explicitly. When I send one `emails.Message` repeatedly, connections are reused, but when I send multiple new messages, connections are leaked.

This can be reproduced by starting a tolerant SMTP server:

```
$ python -m smtpd -n -c DebuggingServer localhost:1025
```

and running the following program:

```
import emails

for i in range(30):
    msg = emails.Message(mail_from='hello@example.net', text='hello')
    resp = msg.send(to='someone@example.com',
                    smtp={'host': 'localhost', 'port': 1025})
    print(resp.error)

input('Press Enter to quit')
```

under a stricter limit on open file descriptors:

```
$ ulimit -n 20

$ python reproduce.py 
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
[Errno 24] Too many open files: None
[Errno 24] Too many open files: None
[Errno 24] Too many open files: None
[Errno 24] Too many open files: None
[Errno 24] Too many open files: None
[Errno 24] Too many open files: None
[Errno 24] Too many open files: None
[Errno 24] Too many open files: None
[Errno 24] Too many open files: None
Press Enter to quit
```

At this point we can observe the leaked connections:

```
$ netstat --inet -p --numeric-ports | grep :1025
(Not all processes could be identified, non-owned process info
 will not be shown, you would have to be root to see it all.)
tcp        0      0 127.0.0.1:43510         127.0.0.1:1025          ESTABLISHED 22376/python    
tcp        0      0 127.0.0.1:43500         127.0.0.1:1025          ESTABLISHED 22376/python    
tcp        0      0 127.0.0.1:43502         127.0.0.1:1025          ESTABLISHED 22376/python    
tcp        0      0 127.0.0.1:43480         127.0.0.1:1025          TIME_WAIT   -               
tcp        0      0 127.0.0.1:43484         127.0.0.1:1025          TIME_WAIT   -               
tcp        0      0 127.0.0.1:1025          127.0.0.1:43496         ESTABLISHED 22375/python    
tcp        0      0 127.0.0.1:1025          127.0.0.1:43508         ESTABLISHED 22375/python    
tcp        0      0 127.0.0.1:43492         127.0.0.1:1025          ESTABLISHED 22376/python    
tcp        0      0 127.0.0.1:1025          127.0.0.1:43498         ESTABLISHED 22375/python    
tcp        0      0 127.0.0.1:1025          127.0.0.1:43520         ESTABLISHED 22375/python    
[...and so on...]
```

This can be a problem even in low-throughput cases. I only discovered it because my tests were giving me warnings:

```
  /home/vasiliy/env/psydiag/lib/python3.5/site-packages/cssutils/prodparser.py:66: ResourceWarning: unclosed <socket.socket fd=13, family=AddressFamily.AF_INET, type=2049, proto=6, laddr=('127.0.0.1', 43616), raddr=('127.0.0.1', 1025)>
    for p in self._prods:

```

Personally, I would be surprised by implicit connection pooling even if it was done correctly between messages. I prefer the approach of Requests, which only persists connections within an explicit [`Session`](http://requests.readthedocs.io/en/master/user/advanced/#session-objects).

Lastly, note [RFC 5321 § 4.1.1.10](https://tools.ietf.org/html/rfc5321#section-4.1.1.10):

> The sender MUST NOT intentionally close the transmission channel until it sends a QUIT command


Well, it's look like a bug. I have to think how to deal with your case.  

The reason to have persistent connection is to speed up bulk sending.  

My use cases looks like:

```
message = Message(html=<template>)
for email in emaillist:
    message.send(render={...})
```

That's why I never encountered with connection leaking.



Just added context manager methods to SMTPBackend.  
It does not solve original problem, but give clear way to close connection.

Rewritten`reproduce.py` with context manager:

```
import emails
from emails.backend.smtp import SMTPBackend

with SMTPBackend(**{'host': 'localhost', 'port': 1025}) as backend:
    for _ in range(30):
        resp =  emails.Message(mail_from='hello@example.net', text='hello').send(to='someone@example.com',
                    smtp=backend)
        print("resp.error=", resp.error)

input('Press Enter to quit')
```
